
body{
	
	margin: 0px;
	
	background: #eee;
		
	
}
.container{
	
	width: 2000px;
	height: 1068px;
	/*margin: 20px auto;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 300px auto;
	background: url(../images/Alecto_PSD-Template.png) no-repeat;/*-example*/
	background-size: 100% auto;
	align-items: flex-end;
			/*flex-grow: 1;justify-content: space-around;*/
}
.octaedr1,.octaedr2, .octaedr3, .octaedr4{
	width: 250px;
	height: 160px;
	margin: 5px;
	background: rgba(0, 0, 0, 0);
}
.octaedr1{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	height: 160px;
	margin-right: 20px;
}
.octaedr2{
	width: 1000px;
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
}
.octaedr3{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	
	margin-left: 20px;
}
.octaedr4{
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 35px;
	
	
}

h1{
	font-size: 62px;
	letter-spacing: 3px;
	line-height: 70px;
	color: #ffffff;
	margin-bottom: 1px;
	
	font-weight: 700;
	text-align: center;
}
p{
	font-size: 24px;
	letter-spacing: 2px;
	line-height: 70px;
	color: #ffffff;
	margin-top: 4px;	
	text-align: center;
	letter-spacing:2px;
}

img#one, img#two, img#three {
	opacity: 0.1;/* background:  rgba(0, 0, 0, 0.1);*/
}
img#two{
	transform: rotate(180deg);
	
}
 /*align-items: center; Вирівнювання по поперечній осі : flex-start | flex-end | center | 
baseline | stretcha{
text-decoration: none;
} */
	
.LearnMore button {
	
	border: 2px solid white;
	border-radius: 60px;
	width: 180px;
	height: 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	margin-left: 409px;
	margin-right: 420px;
	margin-top: 19px; 
	color: #fff;
}
a{
	color: white;
	letter-spacing: 1px;
	line-height: 30px;
	font-family: arial, times new roman;
	font-weight: bold;
	text-decoration: none; 
}