
body{
	margin: 0;
	padding: 0;
}
	.container{
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	margin: 10px 10px;
	border: 1px solid black;
	height: 600px;
	width: auto;
	justify-content: center;

}
.octaedr1{
	background: red;
	padding: 5px 10px;
	margin: 20px;
	
}
.octaedr2{
	background: brown;
	padding: 5px 10px;
	margin: 20px;
}
.octaedr3{
	background: darkviolet;
	padding: 5px 10px;
	margin: 20px;
}
.octaedr4{
	background: green;
	padding: 5px 10px;
	margin: 20px;

}
h1{
	font-size: 68px;
	color: white;
	
	
}
.bl{
	display: flex;
	
	height: 250px;
	width: 250px;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}
